/haskell/cis/h2/Words.hs
elm/cache
elm/build


/elm/elm_dependencies/
/fsharp/small/small/bin/
/fsharp/small/small/obj/
/fsharp/small/small.userprefs

# Intellij
/lua/scroll/.idea
/lua/scroll/*.iml
/lua/scroll/*.iws
/lua/scroll/notes.org

/lua/scroll/moses.lua
/lua/scroll/pl
/lua/scroll/.idea/workspace.xml
/lua/scroll/notes.org
/lua/scroll/mobdebug.lua
/.DS_Store
*.*~
