/haskell/cis/h2/Words.hs
elm/cache
elm/build


/elm/elm_dependencies/
/fsharp/small/small/bin/
/fsharp/small/small/obj/
/fsharp/small/small.userprefs

# Intellij
/lua/scroll/.idea
/lua/scroll/*.iml
/lua/scroll/*.iws
/lua/scroll/notes.org

/lua/scroll/moses.lua
/lua/scroll/pl
/lua/scroll/.idea/workspace.xml
/lua/scroll/notes.org
/lua/scroll/mobdebug.lua
/.DS_Store
*.*~
/unity/**/*.meta

/go/src/.idea

/go/sdl2test/try
/go/sdl2test/duck.bmp
/go/sdl2test/marbles.bmp
/go/sdl2test/ball
/go/sdl2test/plane.png
/go/sdl2test/steer/out.svg
/go/sdl2test/steer/steer
/go/sdl2test/steer/steer.prof
/d/ddraw/ddraw
/d/ddraw/plane.png
/d/wander/plane.png
/d/wander/wander
/d/sfml-wander/sfml-wander
